/* Beatrice the Spider Queen */

body {
  font-family: var(--font);
  letter-spacing: 1.2px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
}

.container {
  position: absolute;
  color: var(--text-color);
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  align-items: center;
  /* padding: 20px 40px; */
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.recent_sets {
  position: absolute;
  width: 30%;
  /* height: 758px; */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--text-color);
  font-size: 50px;
  place-content: flex-start;
  
  
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



.recent_sets_content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.recent_sets_title {
  text-align: center;
  flex-grow: 0;
  width: 100%;
  font-size: 36px;
  
  border-radius: var(--border-radius);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  background-color: var(--text-color);
  color: var(--accent-color);

  z-index: 10;

}

/* Players Section */
.recent_sets_players {
  width: 100%;
  display: flex;
  color: var(--text-color);
  align-content: center;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  height: 120px;
  gap: 0;
  margin-bottom: 20px;
}

.recent_sets_players > div {
  width: 50%;
  text-align: left;
  justify-content: left;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.player_1 {
  align-items: flex-start;
}

.player_2 {
  align-items: flex-end;
}

.sponsor {
  font-size: 32px;
}

.name {
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 48px;
}

.player_1 .sponsor {
  color: var(--p1-sponsor-color);
}

.player_2 .sponsor {
  color: var(--p2-sponsor-color);
}

/* Recent Sets Section */
.recent_sets_inner {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.set_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  align-content: center;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  gap: 16px;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.set_info {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 22px;
  color: var(--text-color);
  justify-content: center;
  width: 100%;
}

.set_col {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  text-align: center;
  justify-content: right;
  overflow: hidden;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text-color);
  /* width: 50%; */
}

.set_subtext {
  text-overflow: ellipsis;
  opacity: 0.75;
  font-size: 26px;
}

.col_1 .text {
  justify-content: center;
}

.col_2 .text {
  justify-content: center;
}

.set_data {
  text-overflow: ellipsis;
  text-align: left;
  justify-content: left;
  overflow: hidden;
  font-size: 28px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--text-color);
  width: 50%;
  text-overflow: ellipsis;
  max-width: 50%;
}

.set_data div {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.set_round {
  opacity: 0.75;
}

.wifi_icon {
  -webkit-mask-image: url(./wifi.svg);
  background-color: var(--text-color);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  display: inline-block;
}

.set_winner {
  font-size: 42px;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 100%;
  background: #29b548;
  color: var(--text-color);
  flex-shrink: 0;
}

.set_tie {
  
  font-size: 42px;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 100%;
  background: var(--accent-color);
  color: var(--text-color);
  flex-shrink: 0;
}

.set_loser {
  font-size: 42px;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 100%;
  background: #ff3837;
  color: var(--text-color);
  flex-shrink: 0;
}

/* Loading Screen */

.tn-golira {
  display: inline-block;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;

  /* Grey golira */
  background-color: var(--accent-color);
  background-image: url('./Tennessee\ Gorilla\ Spin.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Orange Border */
  /* border: 12px solid var(--bg-color); */
  /* margin: 10px; */

  /* Rounded container */
  /* border-radius: 12px; */

  position: relative;
  /* bottom: 12px; */
  
  box-sizing: border-box;
}

.tn-golira::before {
  content: '';
  z-index: 0;
  position: absolute;
  top: -27px;
  display: block;
  height: 27px;
  width: 576px;
  background-color: var(--accent-color)
}

.loading_text {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 36px;
  color: var(--bg-color);

  /* bold */
  font-weight: bolder;

  justify-content: center;
  width: 100%;
  height: 50px;

  /* Move X amount of pixels over the element it's above */
  color: var(--accent-color);
  background-color: var(--text-color);
  border-radius: var(--border-radius);

  z-index: 1;
}

/* Take up ten pixels with grey background */
.tn-golira::after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 239px;
  display:block;
  height: 27px;
  width: 576px;
  background-color: var(--accent-color);
}

.loading_text .dots {
  display: inline-block;
  width: 1em;
}


.loader {
  display: inline-block;
  
  /* Show the overflow */
  overflow: visible;
  margin-left: -8px;
  padding-top: 73px;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 85px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,var(--accent-color) 90%, #0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 12%;
  background-position: 0% 50%, 33% 50%, 66% 50%, 100% 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%  35%, 33%  50%, 66%  50%, 100%  50%}
    40%{background-position:0%  65%, 33%  35%, 66%  50%, 100%  50%}
    60%{background-position:0%  50%, 33%  65%, 66%  35%, 100%  50%}
    80%{background-position:0%  50%, 33%  50%, 66%  65%, 100%  65%}
}





.lifetime {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: var(--border-radius);
  background-color: var(--text-color);

  filter:  drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
}

.lifetime_title {

  color: var(--accent-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 36px;
  /* color: var(--text-color); */

  /* bold */
  font-weight: bolder;

  justify-content: center;
  width: 100%;
}

.never-played {
  width: 100%;
  text-align: center;
}