<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./wide.css" />
  </head>
  <body>
    <div class="container recent_sets wide">
      <div class="recent_sets_title">RECENT SETS</div>
      
      <div class="recent_sets_content"></div>
     <!-- <div class="lifetime"
      </div> -->
    </div>
    <script>
      window.NUM_SETS = 8;
    </script>
    <script src="./index.js"></script>
  </body>
</html>
