<!-- TradingView Widget BEGIN -->
<footer style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
  <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
      "symbols": [
        {
          "proName": "BITSTAMP:BTCUSD",
          "title": "Bitcoin"
        },
        {
          "description": "Rupees",
          "proName": "TVC:GOLD"
        },
        {
          "description": "ECONOMY",
          "proName": "IG:NASDAQ"
        },
        {
          "description": "ROBUX",
          "proName": "NYSE:RBLX"
        },
        {
          "description": "V-Bucks",
          "proName": "NYSE:V"
        },
        {
          "description": "Nintendo Gold",
          "proName": "OTC:NTDOY"
        },
        {
          "description": "Bee",
          "proName": "NASDAQ:BMBL"
        },
        {
          "description": "VEGAN",
          "proName": "CBOE:VEGN"
        },
        {
          "description": "TN HIVE",
          "proName": "NASDAQ:TREE"
        },
        {
          "description": "IMPERIAL CREDITS",
          "proName": "FX:USDCAD"
        }
      ],
      "showSymbolLogo": true,
      "isTransparent": false,
      "displayMode": "compact",
      "colorTheme": "dark",
      "locale": "en"
    }
      </script>
    </div>
</footer>
<!-- TradingView Widget END -->