<html>
    <head>
        <meta charset="utf-8" />
        <script src="../include/globals.js"></script>
        <link rel="stylesheet" href="../main.css" />
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <!-- Title Header -->
        <div class="title">
            <div class="container">
                <div class="col">
                    <div class="logo"></div>
                </div>
                <div class="col">
                    <div class="tournament_name"></div>
                </div>

                <!-- Blah shouldn't do this but one use rule -->
                <div class="col">
                    <div class="details">
                        <div class="event_name"></div>
                        <div class="entrants_count"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top 8 Container -->
        <div class="container_outer">
            <div class="top1_container"></div>
            <div class="top8_rows">
                <div class="top4_container"></div>
                <div class="top8_container"></div>
            </div>
        </div>

        <script src="index.js"></script>
    </body>
</html>
